:root {
	--lgreen: #C8F7E6;
	--green: #04D98B;
	--lblue: #C9E8EC;
	--blue: #0396A6;
	--lyellow: #FCF1CE;
	--yellow: #F2BD23;
	--lred: #F7D1C9;
	--red: #D92B04;
}

/* https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* ------------------ */


html,
body {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title-navbar {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 20px;
}


.google-login {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	cursor: pointer;
}

.google-login-text {
	margin-right: 10px;
	font-size: 2rem;
	color: gray;
	text-align: right;
}

.google-logout-text {
	margin-right: 10px;
	font-size: 2rem;
	color: gray;
	text-align: right;
}

@media (max-width: 1000px) {
	.title-heading {
		font-size: 1.5rem;
	}

	.google-logout-text {
		font-size: 1rem;
	}

	.google-login-text {
		font-size: 1rem;
	}
}

@media (max-width: 650px) {
	.title-heading {
		/* font-size: 1.5rem; */
		font-size: 1rem;
	}

	.google-logout-text {
		/* font-size: 1rem; */
	}

	.google-login-text {
		/* font-size: 1rem; */
	}
}

@media (max-width: 600px) {
	.title-heading {
		display: none;
	}
}





/* Fixed double borders in the middle*/
.list0 {
	border-right-width: 0;
}

.list1 {}

.list2 {
	border-right-width: 0;
	border-top-width: 0;
}

.list3 {

	border-top-width: 0;
}

.center-wheel {
	/* Make fix it to the center */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -5%);


	/* Make it round*/
	border-radius: 30px;
	width: 60px;
	height: 60px;

	/* Center the + */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Color */
	background-color: black;
	color: white;
	font-size: 2rem;

	/* Make smooth transition instead of sudden change */
	transition: all 100ms linear;

	cursor: pointer;
}

.center-wheel:hover {
	width: 65px;
	height: 65px;
	border-radius: 32.5px;
}

.tasklist-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	/* background-color: red; */
	flex-wrap: wrap;
	font-size: 1.25rem;
}


.tasklist {
	padding: 1%;
	/* min-width: 50%;
	min-height: 50%; */
	width: 50%;
	height: 50%;

	border: 1px solid black;

	display: flex;
	flex-direction: column;
}

.taskheading-container {

	display: flex;
	align-items: center;
	justify-content: center;

	/* Since Padding is 4% */
	/* height: calc(96% * (1/5)); */
	height: 20%;
}

.taskheading {
	display: flex;
	align-items: center;
	justify-content: center;


	height: 80%;
	padding: 1rem;
	border-radius: 0.5rem;

	text-transform: uppercase;
	font-weight: bold;
	/* margin-top: 2rem;
	margin-bottom: 2rem; */
}

.list0 .taskheading {
	background-color: var(--lgreen);
	color: var(--green);
}

.list1 .taskheading {
	background-color: var(--lblue);
	color: var(--blue);
}


.list2 .taskheading {
	background-color: var(--lyellow);
	color: var(--yellow);
}


.list3 .taskheading {
	background-color: var(--lred);
	color: var(--red);
}


.task-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}


.task {
	padding: 15px;

	display: flex;
	flex-direction: row;

	border-radius: 10px;
}

.list0 .task {
	background-color: var(--lgreen);
}

.list1 .task {
	background-color: var(--lblue);
}

.list2 .task {
	background-color: var(--lyellow);
}

.list3 .task {
	background-color: var(--lred);
}


.task-title {
	margin-left: 3%;
	width: 100%;
}

.icon-container {
	align-self: flex-end;
	margin-left: 10px;
	cursor: pointer;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-icon-img {
	/* max-height: 10%; */
}